// COLORS
$orange: #f9af31;
$light-pink: #ffe4b7;
$white: #fff;
$black: #100d0d;
$dark-grey: #777;
$grey: #b2b2b2;
$light-grey: #eaeaea;
$red: #cf1515;
$green: #269c47;
$gradient-bg: linear-gradient(278.62deg, #fce4bb 1.35%, #fef7ea 113.81%); 
$border: rgba(249, 175, 49, 0.3);

//font-sizes
$font-h1: 42px;
$font-h2: 32px;
$font-h3: 18px;
$font-subtitle: 16px;
$font-body: 14px;

//line-height
$lh-h1: 52px;
$lh-h2: 40px;
$lh-h3: 22px;
$lh-body: 25px;
$lh-btn: 18px;

//font-weight
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

//border-radius
$br-radius-s:5px;
$br-radius-m:10px;
$br-radius-b:20px;